<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/style.css">

    <script type="text/javascript" src="/vendors/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/admin.js"></script>
</head>
<body>


<h1>ADD MESSAGE!</h1>
<form id="addMessage">
    <input type="text" id="userNameAdd" name="userNameAdd" placeholder="Enter Name">
    <input type="text" id="messageAdd" name="messageAdd" placeholder="Enter Message">

    <button id="submitAdd" class="btn btn-info">Submit Message</button>
</form>

<div id="messageContainer"></div>
</body>
</html>